<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Создать компьютер</title>
</head>
<body>
<div th:replace="fragments :: header"></div>

<div sec:authorize="hasAnyAuthority('Admin', 'Заведующий')" class="container text-center">

    <div class="text-center"><h2>Добавление кабинета</h2>

        <div th:if = "${Error}" class="alert alert-danger">
            <span th:text = "${Error}"></span>
        </div>

        <form th:action="@{/computerCreate}" th:object="${computer}" method="post">

            <div class="m-3">


                <div class="form-group row">

                    <label class="col-form-label col-sm-4">Инв. номер компьютера:</label>

                    <div class="col-sm-8">

                        <input type="text" th:field="*{INV}" id="INV"  placeholder="Введите инв. номер компьютера" class="form-control"/>

                    </div>

                </div>

            </div>

            <button type="submit" class="btn btn-success">Создать</button>

        </form>

    </div>
</div>

</body>
</html>