<!doctype html>
<html lang="ru" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-file=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>GuLog</title>
</head>
<body>

<div th:replace="fragments :: header"></div>

<div class="container mt-5">
    <div sec:authorize="hasAnyAuthority('Admin', 'Engineer', 'Заведующий')" class="container text-center">
    <h2 class="text-center">Кабинеты</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Инв. номер компьютера</th>
            <!--<th>Статус работы</th>-->
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="computer: ${computers}">
            <td th:text="${computer.INV}"></td>
            <!--<td th:text="${computer.isWorking}"></td>!-->
            <td><a th:href="@{room-details/computer-details/{id}(id=${computer.id})}" class="btn btn-outline-primary ml-1 mr-1" role="button">Подробнее</a></td>
            <td><a sec:authorize="hasAnyAuthority('Admin', 'Заведующий')" th:href="@{computer-delete/{id}(id=${computer.id})}" class="btn btn-danger ml-1 mr-1" role="button">Удалить</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="text-center"><a sec:authorize="hasAnyAuthority('Admin', 'Заведующий')" th:href="@{computerCreate}" class="btn btn-outline-primary ml-2 mr-2" role="button">Создать новый компьютер</a></div>



</div>
</body>
</html>