<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-file=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>[[${pageTitle}]]</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a th:href="@{/Index}" class="control control_home">

        <img src="Logo.png" alt="Home" width="100" height="40">
    </a>

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        <li class="nav-item active">
            <a  th:href="@{/Rooms}" class="btn btn-outline-primary ml-2 mr-2" role="button">Кабинеты<span class="sr-only"></span></a>
        </li>

        <li class="nav-item active">
            <a th:href="@{/Request}" class="btn btn-outline-primary ml-2 mr-2" role="button">Заявки<span class="sr-only"></span></a>
        </li>

        <li class="nav-item active">
            <a th:href="@{/users}" class="btn btn-outline-primary ml-2 mr-2" role="button">Пользователи<span class="sr-only"></span></a>
        </li>

        <li class="nav-item active">
            <a th:href="@{/Roles}" class="btn btn-outline-primary ml-2 mr-2" role="button">Роли<span class="sr-only"></span></button></a>
        </li>

    </ul>
</nav>

<!-- <div th:unless="${user.id == null}"></div> -->

<div sec:authorize="hasAuthority('Admin')" class="container text-center">
    <div class="container mt-5">
        <h2>Установленное ПО</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Инв. номер компьютера</th>
                <th>Название программы</th>
                <th>Дата начала действия лицензии</th>
                <th>Дата конца действия лицензии</th>
                <th>Дата установки</th>
                <th>Тип лицензии</th>
                <th>Статус</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="installedsoftwares: ${installedsoftwares}">
                <td th:text="${installedsoftwares.computer.getINV()}"></td>
                <td th:text="${installedsoftwares.software.getName()}"></td>
                <td th:text="${installedsoftwares.LicenseStart}"></td>
                <td th:text="${installedsoftwares.LicenseEnd}"></td>
                <td th:text="${installedsoftwares.InstallationDate}"></td>
                <td th:text="${installedsoftwares.TypeLicense_ID}"></td>
                <td th:text="${installedsoftwares.WorkStatus}"></td>
                <td><a th:href="@{saveRequest/{id}(id=${installedsoftwares.id})}" class="btn btn-outline-primary ml-1 mr-1" role="button">Неисправность</a></td>
                <td><a th:href="@{installedsoftwares-update/{id}(id=${installedsoftwares.id})}" class="btn btn-outline-primary ml-1 mr-1" role="button">Редактировать</a></td>
                <td><a th:href="@{installedsoftwares-delete/{id}(id=${installedsoftwares.id})}" class="btn btn-danger ml-1 mr-1" role="button">Удалить</a></tr>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center"><a th:href="@{/room-details/saveSoft/{id}(id=${computerid})}" class="btn btn-outline-primary ml-2 mr-2" role="button">Добавить рабочее место</a></div>

</div>
</div>
</body>
</html>