<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-file=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>[[${pageTitle}]]</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a th:href="@{/Index}" class="control control_home">

        <img src="Logo.png" alt="Home" width="100" height="40">
    </a>


    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        <li class="nav-item active">
            <a  th:href="@{/Rooms}" class="btn btn-outline-primary ml-2 mr-2" role="button">Кабинеты<span class="sr-only"></span></a>
        </li>

        <li class="nav-item active">
            <a th:href="@{/RequestList}" class="btn btn-outline-primary ml-2 mr-2" role="button">Заявки<span class="sr-only"></span></a>
        </li>

        <li class="nav-item active">
            <a th:href="@{/users}" class="btn btn-outline-primary ml-2 mr-2" role="button">Пользователи<span class="sr-only"></span></a>
        </li>

        <li class="nav-item active">
            <a th:href="@{/Roles}" class="btn btn-outline-primary ml-2 mr-2" role="button">Роли<span class="sr-only"></span></button></a>
        </li>

    </ul>

    <div>
        <form sec:authorize="isAuthenticated()" class="form-inline" th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-outline-primary mr-2" >Выйти</button>
        </form>
    </div>
</nav>

<!-- <div th:unless="${user.id == null}"></div> -->

<div sec:authorize="hasAuthority('Admin')" class="container text-center">
    <div class="container mt-5">
        <h2>Заявки о неисправности</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Номер кабинета</th>
                <th>Инв. номер компьютера</th>
                <th>Кто создал</th>
                <th>Программа</th>
                <th>Описание проблемы</th>
                <th>Статус заявки</th>
                <th>Дата открытия заявки</th>
                <th>Дата закрытия заявки</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="requests: ${requestList}">
                <div th:switch = ${requests.requestStatus}>
                <td th:text="${requests.room.getRoomNumber()}"></td>
                <td th:text="${requests.ID_Computer}"></td>
                <td th:text="${requests.user.getFullName()}"></td>
                <td th:text="${requests.Installedsoftware.getSoftware().getName()}"></td>
                <td th:text="${requests.description_of_the_problem}"></td>
                <td>
                    <span th:if = "${requests.requestStatus}">Открыта</span>
                    <span th:unless = "${requests.requestStatus}">Закрыта</span>
                </td>
                <td th:text="${requests.application_date}"></td>
                <td th:text="${requests.application_closing_date}"></td>
                    <td><form method="post" th:case="true"  th:action="@{/closeRequest/{id}(id=${requests.id})}">
                        <button type="submit" name="submit" value="value" class="btn btn-outline-primary ml-1 mr-1">Закрыть заявку</button>
                    </form></td>
                </div>
                <td><a th:href="@{request-delete/{id}(id=${requests.id})}" class="btn btn-danger ml-1 mr-1" role="button">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</div>
</body>
</html>