<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-file=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Список заявок</title>
</head>

<body>
<div sec:authorize="hasAuthority('Engineer')" class="container text-center">
    <h1>Ты Инженер, проверка раз раз</h1>
</div>

<div sec:authorize="hasAuthority('Test')" class="container text-center">
    <h1>А у тебя нет доступа сюда, кыш</h1>
    <form th:action="@{/Index}" method="get">
        <button class="btn html-editor-align-center">Главная страница</button>
    </form>
</div>

<div sec:authorize="hasAuthority('Teacher')">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a  th:href="@{/Index}" class="btn btn-outline-primary ml-2 mr-2" role="button">На главную<span class="sr-only"></span></a>
            </li>
        </ul>
        <div>
            <form sec:authorize="isAuthenticated()" class="form-inline" th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-outline-primary mr-2" >Выйти</button>
            </form>
        </div>
    </nav>

    <tbody class="table" class="table">
        <thead>
        <tr>
            <th scope="col">№ кабинета</th>
            <th scope="col">№ компьютера</th>
            <th scope="col">Название программы</th>
            <th scope="col">Статус заявки</th>
            <th scope="col">Дата создания</th>
        </tr>
        </thead>

        <tbody>
            <tr>
            </tr>
        </tbody>

    </table>
</div>

</body>
</html>