<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Роли</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments :: header"></div>
<div sec:authorize="hasAuthority('Admin')" class="container text-center">
    <div>
        <h2>Роли</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Название</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="role: ${roles}">
                <td th:text="${role.name}"></td>
                <td><a th:href="@{role-delete/{id}(id=${role.id})}" class="btn btn-outline-primary ml-2 mr-2" role="button">Удалить</a></tr>
            </tr>
            </tbody>
        </table>
    </div>
<p><a href="/role-create">Создать новую роль</a></p>
</div>

</body>
</html>