<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-file=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>[[${pageTitle}]]</title>
</head>
<body>

<div th:replace="fragments :: header"></div>


<div sec:authorize="hasAnyAuthority('Admin', 'Engineer', 'Teacher', 'Заведующий')" class="container text-center">
    <div class="container mt-5">
        <div class="form-inline my-2 my-lg-0">
            <a sec:authorize="hasAnyAuthority('Admin', 'Engineer', 'Teacher')" th:href="@{/Rooms}" class="btn btn-outline-primary ml-2 mr-2" role="button">Назад</a>
        </div>
        <h2>Рабочие места</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Номер рабочего места</th>
                <th>Инв. номер компьютера</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="workplaces: ${workplaces}">
                <td th:text="${workplaces.Number}"></td>
                <td th:text="${workplaces.computer.getINV()}"></td>
                <td><a th:href="@{computer-details/{id}(id=${workplaces.computer.getId()})}" class="btn btn-outline-primary ml-1 mr-1" role="button">Подробнее</a></td>
              <!-- <td><a sec:authorize="hasAnyAuthority('Admin', 'Заведующий')" th:href="@{/room-details/workplaseEdit/{id}(id=${workplaces.id})}" class="btn btn-outline-primary ml-1 mr-1" role="button">Редактировать</a></td>-->
                <td><a sec:authorize="hasAnyAuthority('Admin', 'Заведующий')" th:href="@{/room-details/workplaces-delete/{id}(id=${workplaces.id})}" class="btn btn-danger ml-1 mr-1" role="button">Удалить</a></tr>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a sec:authorize="hasAnyAuthority('Admin', 'Заведующий')" th:href="@{/room-details/workplaces-create/{id}(id=${roomNumber})}" class="btn btn-outline-primary ml-2 mr-2" role="button">Добавить рабочее место</a>
    </div>
</div>
</body>
</html>