<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-file=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>GuLog</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a href="@{/Index}" class="control control_home">

    </a>


    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        <li class="nav-item active">
            <a  th:href="@{/Rooms}" class="btn btn-outline-primary ml-2 mr-2" role="button">Кабинеты<span class="sr-only"></span></a>
        </li>

        <li class="nav-item active">
            <a  th:href="@{/Computers}" class="btn btn-outline-primary ml-2 mr-2" role="button">Кабинеты<span class="sr-only"></span></a>
        </li>

        <li class="nav-item active">
            <a th:href="@{/RequestList}" class="btn btn-outline-primary ml-2 mr-2" role="button">Заявки<span class="sr-only"></span></a>
        </li>

        <li class="nav-item active">
            <a th:href="@{/users}" class="btn btn-outline-primary ml-2 mr-2" role="button">Пользователи<span class="sr-only"></span></a>
        </li>

        <li class="nav-item active">
            <a th:href="@{/Roles}" class="btn btn-outline-primary ml-2 mr-2" role="button">Роли<span class="sr-only"></span></button></a>
        </li>

    </ul>

    <div>
        <form sec:authorize="isAuthenticated()" class="form-inline" th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-outline-primary mr-2" >Выйти</button>
        </form>
    </div>

</nav>


    <div class="container mt-5">
        <h2 class="text-center">ПО</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Название</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="software: ${softwares}">
                <td th:text="${software.getName()}"></td>
                <td><a th:href="@{/software/softwareEdit/{id}(id=${software.id})}" class="btn btn-outline-primary ml-1 mr-1" role="button">Редактировать</a> </td>
                <td><a th:href="@{software/softwareDelete/{id}(id=${software.id})}" class="btn btn-danger ml-1 mr-1" role="button">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center"><a th:href="@{/software/softwareCreate}" class="btn btn-outline-primary ml-2 mr-2" role="button">Добавить новое ПО</a></div>

</body>
</html>