<!doctype html>
<html lang="ru" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-file=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Пользователи</title>

</head>
<body>

<div th:replace="fragments :: header"></div>

    <div sec:authorize="hasAnyAuthority('Admin', 'Заведующий')" class="container text-center">
<div th:switch="${users}">
    <h2 th:case="null">Пользователи не обнаружены!</h2>
    <div th:case="*">
        <h2>Пользователи</h2>
        <table class="table">
            <thead>
            <tr>
                <!-- <th>Username</th> -->
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Почта</th>
                <th>Номер телефона</th>
                <th>Полное имя</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}">
                <!-- <td th:text="${user.getUsername()}"></td> -->
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.getFullName()}"></td>
                <td><a th:href="@{userUpdate/{id}(id=${user.id})}" class="btn btn-outline-primary ml-2 mr-2" role="button">Редактировать</a></td>
                <td><a th:href="@{user-delete/{id}(id=${user.id})}" class="btn btn-outline-primary ml-2 mr-2" role="button">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
        <p><a th:href="@{register}">Создать нового пользователя</a></p>
</div>
</div>

<div sec:authorize="hasAuthority('Teacher')" class="container text-center">
    <div th:switch="${users}">
        <h2 th:case="null">Пользователи не обнаружены!</h2>
        <div th:case="*">
            <h2>Пользователи</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Почта</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${users}">
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.email}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>