<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-file=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>[[${pageTitle}]]</title>
</head>
<body>

<div th:replace="fragments :: header"></div>

<div th:unless="${user.id == null}"></div>

<div sec:authorize="hasAuthority('Admin')" class="container text-center">

    <div class="text-center"><h2>[[${pageTitle}]]</h2>

<form th:action="@{/user-update}" th:object="${user}" method="post">

    <div class="m-3">


        <input hidden type="text" id="username" th:field="*{username}" class="form-control"/>


            <div class="form-group row">

                <label class="col-form-label col-sm-4">Имя:</label>

                <div class="col-sm-8">

                    <input type="text" id ="firstName" th:field="*{firstName}" class="form-control"/>

                </div>

            </div>


            <div class="form-group row">

                <label class="col-form-label col-sm-4">Фамилия:</label>

                <div class="col-sm-8">

                    <input type="text" id ="lastName" th:field="*{lastName}" class="form-control"/>

                </div>

            </div>


            <div class="form-group row">

                <label class="col-form-label col-sm-4">Номер телефона:</label>

                <div class="col-sm-8">

                    <input type="text" id ="phoneNumber" th:field="*{phoneNumber}" class="form-control"/>

                </div>

            </div>


        <div class="form-group row">

            <label class="col-form-label col-sm-4">Почта:</label>

            <div class="col-sm-8">

                <input type="text" id ="email"  th:field="*{email}" class="form-control"/>

            </div>

        </div>


                <input hidden type="text" id="password" th:field="*{password}" class="form-control"/>



        <div class="form-group row">

            <label class="col-form-label col-sm-4">Роль:</label>

            <div class="col-sm-8">

                <select id ="roles" th:field="*{roles}" class="form-control" required>

                    <th:block th:each="role : ${roles}">

                        <option th:text="${role.getName()}" th:value="${role.getId()}"></option>

                    </th:block>

                </select>

            </div>

        </div>


        <div th:unless="${user.id == null}">
            <input type="hidden" th:field="*{id}" th:value="${user.id}" />
            <button type="submit" class="btn btn-success">Изменить</button>
        </div>

    </div>

</form>
    </div>
</div>
</body>
</html>