<!doctype html>
<html lang="ru" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-file=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>GuLog</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a th:href="@{/Index}" class="control control_home">

    </a>


    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        <li class="nav-item active">
            <a  th:href="@{/Rooms}" class="btn btn-outline-primary ml-2 mr-2" role="button">Кабинеты<span class="sr-only"></span></a>
        </li>

        <li class="nav-item active">
            <a th:href="@{/Request}" class="btn btn-outline-primary ml-2 mr-2" role="button">Заявки<span class="sr-only"></span></a>
        </li>

        <li class="nav-item active">
            <a th:href="@{/users}" class="btn btn-outline-primary ml-2 mr-2" role="button">Пользователи<span class="sr-only"></span></a>
        </li>

        <li class="nav-item active">
            <a th:href="@{/Roles}" class="btn btn-outline-primary ml-2 mr-2" role="button">Роли<span class="sr-only"></span></button></a>
        </li>

    </ul>
</nav>

<div sec:authorize="hasAuthority('Admin')" class="container text-center">


    <div class="container text-center">
        <div class="text-center"><h2>Изменение рабочего места</h2>

        </div>

        <form th:action="@{/room-details/workplaseEdit/{id}(id=${roomNumber})}" th:object="${workplace}" method="post">

            <div class="m-3">


                <div class="form-group row">

                    <label class="col-form-label col-sm-4">Номер рабочего места:</label>

                    <div class="col-sm-8">

                        <input type="text" id="Number"  th:field="*{Number}" placeholder="Введите номер рабочего места" class="form-control"/>

                    </div>

                </div>


                <input hidden type="text"  th:value="${roomNumber}" class="form-control" />


                <div class="form-group row">

                    <label class="col-form-label col-sm-4">Инв номер компьютера:</label>

                    <div class="col-sm-8">

                        <select id = "computer" th:field="*{computer_id}" class="form-control" required>

                            <th:block th:each="computer : ${computers}">

                                <option th:value="${computer.getId()}"  th:text="${computer.getINV() }"></option>

                            </th:block>

                        </select>

                    </div>

                </div>

            </div>

        </form>

    </div>
</div>

</body>
</html>