<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-file=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>[[${pageTitle}]]</title>
</head>
<body>

<div th:replace="fragments :: header">

<!-- <div th:unless="${user.id == null}"></div> -->

<div sec:authorize="hasAuthority('Admin')" class="container text-center">
    <div>
        <h2>Рабочие места</h2>
        <table class="table">
            <thead>
            <tr>
                <th>id</th>
                <th>Номер рабочего места</th>
                <th>Инв. номер компьютера</th>
                <th>Кабинет</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="workplaces: ${workplaceList}">
                <td th:text="${workplaces.id}"></td>
                <td th:text="${workplaces.Number}"></td>
                <td th:text="${workplaces.computer.getINV()}"></td>
                <td th:text="${workplaces.room.getRoomNumber()}"></td>
                <!-- <td><a th:href="@{workplaces-delete/{id}(id=${workplaces.id})}" class="btn btn-outline-primary ml-2 mr-2" role="button">Удалить</a></tr> -->
            </tr>
            </tbody>
        </table>
    </div>

</div>
</div>
</body>
</html>