<!doctype html>
<html lang="ru" xmlns:th="http://thymeleaf.org"
    xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-file=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>GuLog</title>
    <link rel="stylesheet" href="/Index.css">
</head>


<body>
<nav class="header-top header-top--primary">
    <nav class="corp">
        <div class="header-top header-top--primary">

            <div class="left">
                <a href="localhost:8090" class="control control_home">
		            <ins>
                    <svg width="18" height="26" viewBox="0 0 18 26" xmlns="http://www.w3.org/2000/svg">
                        <img src="/images/Logo.png" alt="Home" style="width:100px;height:60px;border:0;">
                    </svg>
		            </ins>
                </a>

            </div>
    <ui class="nav navigation navigation_horizontal">

        <li class="button">
            <a class="navigation__link" href="">Кабинеты</a>
        </li>

        <li class="button">
            <a class="navigation__link" href="">Заявки</a>
        </li>

        <li class="button">
            <a class="navigation__link" href="">Пользователи</a>
        </li>

        <li class="button">
        <a class="navigation__link" href="">Роли</a>
        </li>



    <form sec:authorize="isAuthenticated()" class="form-inline my-2 my-lh-0" th:action="@{/logout}" method="post">
        <button class="btn btn-outline-success my-2 mr-2 my-sm-0">Выйти</button>
    </form>

        <div sec:authorize="isAnonymous()" class="form-inline my-2 my-lh-0">
            <a class="btn btn-outline-success my-2 mr-2 my-sm-0" th:href="@{/login}">Логин</a>
        </div>
    </ui>
</div>
    </ui>

    </div>
</nav>
</nav>
</body>
